<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar.html :: header( title = 'Pregunta 2b')"></head>
<body>
<div class="container">
    <nav th:replace="fragments/navbar.html :: navbar( active = 'Pregunta2b')"></nav>
    <h2>Lista de empleados TI</h2>
    <a class="btn btn-primary mt-4 mb-4" th:href="@{'/Lab6/Pregunta2b/new'}">Nuevo Empleado</a>
    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Fecha de inicio</th>
            <th>Salario</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee, info : ${listaEmpleados}">
            <td th:text="${info.index + 1}"></td>
            <td th:text="${employee.firstName} + ' ' +${employee.lastName}"></td>
            <td th:text="${employee.hireDate}"></td>
            <td th:text="${employee.salary}"></td>>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
