<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar.html :: header( title = 'Empleados')"></head>
<body>
<div class="container">
    <nav th:replace="fragments/navbar.html :: navbar( active = 'Employee')"></nav>
    <h2>Nuevo Empleado</h2>
    <hr/>
    <form th:action="@{'/Lab6/Pregunta2b/save'}" method="post">
        <div class="form-group">
            <label for="firstName">Nombre</label>
            <input type="text" class="form-control" name="firstName" id="firstName"/>
        </div>
        <div class="form-group">
            <label for="lastName">Apellido</label>
            <input type="text" class="form-control" name="lastName" id="lastName"/>
        </div>
        <div class="form-group">
            <label for="salarystr">Salary</label>
            <input type="text" class="form-control" name="salarystr" id="salarystr"/>
        </div>
        <div class="form-group">
            <label for="hireDate">Fecha de ingreso</label>
            <input type="text" class="form-control" name="hireDate" placeholder="yyyy-mm-dd 00:00:00" id="hireDate"/>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" id="email"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" name="password" id="password"/>
        </div>
        <div class="form-group">
            <label for="department">Departamento</label>
            <select class="form-control" name="department" id="department">
                <option th:each="department : ${listaDepartamentos}" th:text="${department.departmentName}" th:value="${department.id}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="job">Job</label>
            <select class="form-control" name="job" id="job">
                <option th:each="job : ${listaTrabajos}" th:text="${job.jobTitle}" th:value="${job.id}"></option>
            </select>
        </div>
        <a th:href="@{'/Lab6/Pregunta2b/list'}" class="btn btn-danger">Cancelar</a>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
</div>
</body>
</html>