<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head th:replace="fragments/navbar.html :: header( title = 'Pregunta 2a')"></head>
    <body>
        <div class="container">
            <nav th:replace="fragments/navbar.html :: navbar( active = 'Pregunta2a')"></nav>

            <h2>Cálculo de Impuestos</h2>
            <h3>Impuesto de Quinta Categoría</h3>

            <br>
            <br>
            <br>

            <div class="row">
                <form method="post" th:action="@{/Lab6/Pregunta2a/calcular}">
                    <h3>Seleccione un Empleado para Empezar</h3>
                    <label for="empleado">Empleado</label>
                    <select id="empleado" class="form-select" name="id">
                        <option th:each="empleado : ${listaEmpleados}"
                                th:text="${empleado.firstName + ' ' + empleado.lastName}"
                                th:value="${empleado.id}"
                                th:selected="${empleadoSelect != null && empleado.id == empleadoSelect.id}">
                        </option>
                    </select>

                    <button class="btn btn-primary" type="submit">Calcular</button>
                </form>
            </div>

            <br>
            <br>

            <div th:if="${impuestos != null}">
                <h4 th:text="|Impuestos Totales de
                ${empleadoSelect.firstName + ' ' + empleadoSelect.lastName}:|">
                </h4>

                <br>

                <h4><b th:text="|S/${impuestos}|"></b></h4>
            </div>
        </div>

    </body>
</html>