<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar.html :: header( title = 'Pregunta 1b')"></head>
<body>
<div class="container">
    <nav th:replace="fragments/navbar.html :: navbar( active = 'Pregunta1b')"></nav>
    <h2>Lista de empleados - Pregunta 1b</h2>
    <div class="alert alert-success" role="alert">Se considera las reincorporaciones de los empleados de acuerdo a su historial</div>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Salario</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee, info : ${listaEmpleados}">
            <td th:text="${info.index + 1}"></td>
            <td th:text="${employee.getFirstName()}"></td>
            <td th:text="${employee.getLastName()}"></td>
            <td th:text="${employee.getSalary()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
